<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<p>Want to get in touch? Fill out the form below to send us a message and we'll try to get back to you within 24 hours!</p>
			<form role="form" name="contactForm" id="contactForm" novalidate="">
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls" ng-class="{ 'has-error': contactForm.inputName.$error && contactCtrl.submitted }">
						<label>Name</label>
						<input ng-model="contactCtrl.formData.name" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required />
							<p></p>
							<p class="help-block text-danger" ng-message="contactForm.inputName.$error.required" ng-if="contactForm.inputName.$touched && contactForm.inputName.$error.required">You forgot to enter your name!</p>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls" ng-class="{ 'has-error': contactform.inputEmail.$error && contactCtrl.submitted }">
						<label>Email Address</label>
						<input ng-model="contactCtrl.formData.email" type="email" class="form-control" id="inputName" name="inputEmail" placeholder="Your Email" required />
						<p></p>
						<div ng-messages="contactForm.inputEmail.$error" ng-if="contactForm.inputEmail.$touched && contactForm.inputEmail.$error.email" ng-messages-multiple="ng-messages-multiple">
							<p class="help-block text-danger" ng-message="email">Please enter a valid email!</p>
						</div>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls" ng-class="{ 'has-error': contactForm.inputMessage.$error && contactCtrl.submitted }">
						<label>Message</label>
						<textarea rows="5" ng-model="contactCtrl.formData.message" class="form-control" rows="4" name="inputMessage" id="inputMessage" placeholder="Your message..." required></textarea>
						<p></p>
						<div ng-messages="contactForm.inputMessage.$error" ng-if="contactForm.inputMessage.$touched && contactForm.inputMessage.$error.required">
							<p class="help-block text-danger">You forgot to enter a message!</p>
						</div>
					</div>
				</div>
				<br>
				<div id="success" ng-class="contactCtrl.result"><p>{{ contactCtrl.resultMessage }}</p></div>
				<div class="row">
					<div class="form-group col-xs-12">
						<a class="btn btn-default pull-right" ng-disabled="contactCtrl.submitted || contactForm.$invalid" (click)="contactCtrl.submit(contactCtrl.formData)">Send</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
