<div class="container no-print">
  <h1>Card Donation</h1>
  <hr>
  <p class="text-muted">For custom donation amounts, click "set amount" and type your desired contribution. When you are done, press "enter" to set your amount. Press "esc" if you want to change your contribution after it's set.
  </p>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-6">
      <button (click)="donationsCtrl.setPayment($event, { amount: 10, type: 'charge' }); donationsCtrl.doCheckout('charge')" class="btn btn-default">Donate $10.00</button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <button (click)="donationsCtrl.setPayment($event, { amount: 20, type: 'charge' }); donationsCtrl.doCheckout('charge')" class="btn btn-default">Donate $20.00</button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <button (click)="donationsCtrl.setPayment($event, { amount: 30, type: 'charge' }); donationsCtrl.doCheckout('charge')" class="btn btn-default">Donate $30.00</button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <button (click)="donationsCtrl.setPayment($event, { amount: 40, type: 'charge' }); donationsCtrl.doCheckout('charge')" class="btn btn-default">Donate $40.00</button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <button (click)="donationsCtrl.setPayment($event, { amount: 50, type: 'charge' }); donationsCtrl.doCheckout('charge')" class="btn btn-default">Donate $50.00</button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <form name="customDonation" novalidate="">
        <donation-button
          id="0"
          name="donation"
          (click)="donationsCtrl.setClicked($event, 0)"
          [(clicked)]="donationsCtrl.donationButtons[0]"
          (reset)="donationsCtrl.resetClicked(0)"
    			[(value)]="donationsCtrl.amount"
    			(keyup)="donationsCtrl.setPayment($event, { amount: donationsCtrl.amount, type: 'charge' })"
    			(checkout)="donationsCtrl.setPayment($event, { amount: donationsCtrl.amount, type: 'charge' }); donationsCtrl.doCheckout('charge')">
  		</donation-button>
    </form>
    </div>
  </div>
  <div ng-messages="customDonation.donation.$error" ng-show="customDonation.$submitted || customDonation.donation.$error || customDonation.donation.$touched">
    <small class="text-muted help-block text-danger error-wrapper" ng-message="min">This is below the allowable limit of our payments provider!</small>
  </div>
  <h1>Monthly Donation</h1>
  <hr>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-6">
      <button (click)="donationsCtrl.setPayment($event, { amount: 10, type: 'subscription', id: 1 }); donationsCtrl.doCheckout('subscription')" class="btn btn-default">Donate $10.00</button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <button (click)="donationsCtrl.setPayment($event, { amount: 20, type: 'subscription', id: 2 }); donationsCtrl.doCheckout('subscription')" class="btn btn-default">Donate $20.00</button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <button (click)="donationsCtrl.setPayment($event, { amount: 30, type: 'subscription', id: 3 }); donationsCtrl.doCheckout('subscription')" class="btn btn-default">Donate $30.00</button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <button (click)="donationsCtrl.setPayment($event, { amount: 40, type: 'subscription', id: 4 }); donationsCtrl.doCheckout('subscription')" class="btn btn-default">Donate $40.00</button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <button (click)="donationsCtrl.setPayment($event, { amount: 50, type: 'subscription', id: 5 }); donationsCtrl.doCheckout('subscription')" class="btn btn-default">Donate $50.00</button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <form name="customSubscription" novalidate="">
  			<donation-button
          id="1"
          name="subscription"
          (click)="donationsCtrl.setClicked($event, 1)"
          [(clicked)]="donationsCtrl.donationButtons[1]"
          (reset)="donationsCtrl.resetClicked(1)"
    			[(value)]="donationsCtrl.subscriptionAmount"
    			(keyup)="donationsCtrl.setPayment($event, { amount: donationsCtrl.subscriptionAmount, type: 'subscription-custom' })"
    			(checkout)="donationsCtrl.setPayment($event, { amount: donationsCtrl.subscriptionAmount, type: 'subscription-custom' }); donationsCtrl.doCheckout('subscription-custom')">
  			</donation-button>
      </form>
    </div>
  </div>
  <div ng-messages="customSubscription.subscription.$error" ng-show="customSubscription.$submitted || customSubscription.subscription.$error || customSubscription.subscription.$touched">
    <small class="text-muted help-block text-danger error-wrapper" ng-message="min">This is below the allowable limit of our payments provider!</small>
  </div>
</div>
<br>
