<header class="intro-header" name="rstHeader">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" ng-if="!atPost() && !atDonation()">
					<h1> {{ title }} </h1>
					<hr class="small">
					<span class="subheading"> {{ subheading }} </span>
				</div>
				<div class="site-heading" ng-if="atPost()">
					<h1> {{ post.title }} </h1>
					<hr class="small">
					<span class="subheading"> {{ post.subheading }} </span>
					<br>
					<span class="meta"> {{ post.user.email }} on {{ post.created_at | date:'medium' }}</span>
				</div>
				<div class="site-heading" ng-if="atDonation()">
					<h1>Give to Rose Street</h1>
					<hr class="small">
					<span class="subheading">Make a donation to the "100 Blocks Homocide-Free Zone" project</span>
				</div>
			</div>
		</div>
	</div>
</header>